﻿body {
    font-family: Tahoma;
}

.commandblock {
    display: block;
    margin: 5px 50px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-family: 'Lucida Console';
    border: 1px solid black;
    background-color: #000000;
    color: #00FF00;
    width: 1024px;
}

.codeblock {
    display: block;
    margin: 5px 50px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-family: 'Lucida Console';
    border: 1px solid #888888;
    background-color: #DDDDDD;
    color: #000000;
    width: 1024px;
}
